/**
 * @name Windows-Like-Buttons
 * @author Aircraft192
 * @version 1.0.0
 * @description A theme making buttons look bigger to better integrate with Windows
*/

div[class*=withFrame_] {
    height: 34px;
    margin-top: 0px;
    background-color: var(--bg-base-tertiary);
}
div[class*=winButton_] {
    position: relative;
    top: 0px;
    cursor: default;
    width: 45px;
    height: 34px;
    -webkit-app-region: no-drag;
}
div[class*=wordmarkWindows_] {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 9px 3px;
    color: var(--text-muted);
}

/* Content */
div[class*=contentColumnDefault_] {
    position: relative;
    padding: 48px 40px 80px;
}

/* Exit Button */
div[class*=toolsContainer_] {
    padding-top: 48px; /* 31 */
}